# EXPLORATION REFERENCES

https://www.epa.gov/energy/greenhouse-gases-equivalencies-calculator-calculations-and-references

https://www.nytimes.com/2012/12/04/science/how-many-pounds-of-carbon-dioxide-does-our-forest-absorb.html

https://www.nytimes.com/2012/12/04/science/how-many-pounds-of-carbon-dioxide-does-our-forest-absorb.html

In [116]:
consumed_rates_per_hectar = 0.6

In [73]:
import matplotlib.pyplot as plt

In [25]:
consumed_rates_per_hectar = 130

In [87]:
recovery_precs = [0,0.14,0.27,0.38,0.46,0.54,0.61,0.67,0.73,0.79,0.84,0.89,0.92,0.94,0.95,0.96,0.967]

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('all_wildfires.csv')

In [88]:
def estimate(area):
    generated = []
    for i in recovery_precs:
        generated.append(area*(1-i)*consumed_rates_per_hectar)
    return generated

In [46]:
xs = []
ys = []
for area in df[' affected_area']:
    x = estimate(area)
    xs.append(area)
    ys.append(x)

In [43]:
import seaborn as sns

In [64]:
dfs = pd.DataFrame()

In [89]:
for i,row in df.iterrows():
    name = row['name']
    area = row[' affected_area']
    y = estimate(area)
    dfs["Years"] = list(range(len(y)))
    dfs["Unconsumed CO2"] = y
    ax = sns.barplot(x="Years", y="Unconsumed CO2", data=dfs, linewidth=2.5, facecolor=(1, 1, 1, 0), errcolor=".2", edgecolor=".2")    
    ax.figure.savefig("imgs/recovery/"+name+".svg",dpi = 300)
    plt.clf()

In [111]:
def compare_per_acre(area):
    area = area*consumed_rates_per_hectar
    goldfish = 25/1000
    cat = 315/1000
    dog = 770/1000
    large_dog = 2500/1000
    vehicle = 4600/1000
    return [area,area/goldfish, area/cat, area/dog, area/large_dog, area/vehicle]

In [112]:
outz = []
for i,row in df.iterrows():
    name = row['name']
    area = row[' affected_area']
    y = [name] + compare_per_acre(area)
    outz.append(y)

In [117]:
xs = pd.DataFrame(outz)
xs.columns = ["Name","xs", "GoldFish", "Cat", "Dog", "Large Dog", "Vehicle"]

In [114]:
xs

,Name,Area,GoldFish,Cat,Dog,Large Dog,Vehicle
0,Camp fire,37231.8,1489272.0,118196.190476,48352.987013,14892.72,8093.869565
1,Woolsey fire,23540.4,941616.0,74731.428571,30571.948052,9416.16,5117.478261
2,Lodgepole Complex Fire,66000.0,2640000.0,209523.809524,85714.285714,26400.00,14347.826087
3,Nelson fires,14400.0,576000.0,45714.285714,18701.298701,5760.00,3130.434783
4,Carr Fire,55761.6,2230464.0,177020.952381,72417.662338,22304.64,12122.086957
5,Mendoncino Complex Fire,111.0,4440.0,352.380952,144.155844,44.40,24.130435
6,Attica Wildfires,27013.8,1080552.0,85758.095238,35082.857143,10805.52,5872.565217